<div class="bottom-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-left text-title">Sign in</h1>
      <div class="col-md-offset-4 col-md-4 bottom-container">
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :name, class: 'text-gray' %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'text-gray' %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-gray' %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :passwordをもう一度, class: 'text-gray' %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

            <%= f.submit "参加", class: 'center-block btn-submit btn-gray' %>

        <% end %>
        <%= link_to "ログインはこちらから", login_path, class: 'text-gray text-login' %>
      </div>
    </div>
  </div>
</div>
