<div class="bottom-wrapper">
  <div class="container">
    <div class="row">
      <button class="text-right team-create-entrance">
        <%= link_to "チームトップへ", team_path(params[:team_id]) %>
      </button>
      <h1 class="text-left team-page-title game-margin">試合結果登録</h1>
      <h2 class="text-left member-index-title game-margin">Order</h2>
      <p class="text-center index-uniform-number">打順</p>
      <p class="text-center index-uniform-number">守備位置</p>
      <p class="index-member-name">名前</p><br>
      <%= form_for @order,url: {action: 'new'}  do |f| %>
        <div class="game-order">
          <p class="index-batting-number">１</p>
          <%= f.text_field :first_batter_position, class: "player-position" %>
          <%= f.text_field :first_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">２</p>
          <%= f.text_field :second_batter_position, class: "player-position" %>
          <%= f.text_field :second_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">３</p>
          <%= f.text_field :third_batter_position, class: "player-position" %>
          <%= f.text_field :third_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">４</p>
          <%= f.text_field :fourth_batter_position, class: "player-position" %>
          <%= f.text_field :fourth_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">５</p>
          <%= f.text_field :fifth_batter_position, class: "player-position" %>
          <%= f.text_field :fifth_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">６</p>
          <%= f.text_field :sixth_batter_position, class: "player-position" %>
          <%= f.text_field :sixth_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">７</p>
          <%= f.text_field :seventh_batter_position, class: "player-position" %>
          <%= f.text_field :seventh_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">８</p>
          <%= f.text_field :eighth_batter_position, class: "player-position" %>
          <%= f.text_field :eighth_batter, class: "form-member-name" %>
        </div><br>
        <div class="game-order">
          <p class="index-batting-number">９</p>
          <%= f.text_field :ninth_batter_position, class: "player-position" %>
          <%= f.text_field :ninth_batter, class: "form-member-name" %>
        </div><br>
      <% end %>
      <h2 class="text-left member-index-title game-margin">Score (先攻)</h2>
      <h2 class="text-left member-index-title game-margin">Score (後攻)</h2>
      <h2 class="text-left member-index-title game-margin">日時</h2>
      <h2 class="text-left member-index-title game-margin">対戦相手</h2>
      <%= form_for @game,url: {action: 'new'}  do |f| %>
        <%= f.text_field :opponent, placeholder:' 対戦相手' ,class: "opponent-name" %>
        <%= f.submit "試合登録", class: 'center-block btn-submit btn-gray' %>
      <% end %>
    </div>
  </div>
</div>
