<div class="bottom-wrapper">
  <div class="container">
    <div class="row">
      <button class="text-right team-create-entrance">
        <%= link_to "チームトップへ", team_path(params[:team_id]) %>
      </button>
      <h1 class="text-left team-page-title">メンバー登録</h1>
      <%= form_for @member,url: {action: 'create'} do |f| %>
        <div class="form-member">
          <%= f.text_field :uniform_number, placeholder:'背番号' ,class: "form-uniform-number" %>
          <%= f.text_field :member_name, placeholder:'名前' ,class: "form-member-name" %>
          <%= f.hidden_field :team_id,value: params[:team_id] %>
          <%= f.submit "登 録", class: 'btn-member btn-gray' %>
        </div>
      <% end %>
      <h2 class="text-left member-index-title">メンバー一覧</h2>
      <div class="index-member">
        <p class="index-uniform-number">背番号</p>
        <p class="index-member-name">名前</p><br>
        <% @members.each do |member| %>
          <p class="player-uniform-number">
            <%= member.uniform_number %>
          </p>
          <p class="player-name">
            <%= member.member_name %>
          </p><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
